*
{margin: 0;
 padding: 0;
 box-sizing: border-box;}

.logo
 {margin-top: 50px;
  margin-left: 70px;}

.sumário
{margin-top: 70px;
 margin-left: 70px;
 height: 300px;
 width: 400px;}

p
{text-align: justify;
 color: white;}

video
{height: 600px;
 width: 600px;}

.video
{display: flex;
 align-items: center;}

body
{background-color: rgb(8, 3, 3);
 background-attachment: fixed;}

